/* #start-page {
  display: block;
} */

#play {
  /* display: block; change to none and uncomment start-page */
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

#game {
  border: 1px solid red;
}
