/* #start-page {
  display: block;
} */
/* 
#play {
  display: block;
} */

#game-stats{
  display: block;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

#game {
  border: 1px solid red;
}

#game-over {
  display: none;
}
